@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Arial, Helvetica, sans-serif;
}

.nba-header {
    border-bottom: .3125rem solid #1d428a;
    box-shadow: .125rem .125rem .25rem 0 rgba(0, 0, 0, .5);
}

.lakers-header-logo {
    height: 40px;
    width: auto;
}

.statistics-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../public/assets/img/image-3.jpeg");
}

.stat-card {
    background: rgba(242, 242, 242, 0.2);
}

@media (min-width: 1024px) {
    .lakers-header-logo {
        height: 70px;
    }
}

@media (max-width: 1320px) {
    .lakers-header-icons {
        display: none;
    }
}

@media (max-width: 1100px) {
    .cards-container {
        flex-direction: column;
    }
}
